<div class="body">
  <div style="text-align:center; width: 400px" class="mt-3">
    <h5>
      <img width="40" height="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      {{ title }}
    </h5>
  </div>

  <div class="container">
    <!--CURRENT TABS-->
    <h6 style="color: gray">Active Tabs</h6>
    <ul class="list-group mb-3" height="500">
      <li class="list-group-item p-2" *ngFor="let tab of tabList">
        <a (click)="openTab(tab.tabIndex)">
          <img [src]="tab.favIconUrl" height="23" width="23" />
          <span class="small ml-3 d-inline-block text-truncate" style="width: 230px" title="{{ tab.title }}">{{ tab.title }}</span>
        </a>
        <i [hidden]="!isTabSaved(tab)" class="fa fa-check pull-right mr-2" aria-hidden="true" title="Already saved to firebase" style="color: grey"></i>
        <i (click)="saveTab(tab, selectedProject)" [hidden]="isTabSaved(tab)" class="fa fa-floppy-o pull-right mr-2" aria-hidden="true" title="Save to firebase" style="color: grey"></i>
      </li>
    </ul>

    <div style="position: relative">      
      <h6 style="color: gray">
        <a>Projects</a>
      </h6>
      <div class="block"><span class="slide-block-info"></span></div>
    </div>

    <div class="form-group mb-2">
      <input class="pl-2 mt-1" type="text" placeholder="Search or Create Project" [(ngModel)]="projectName" style="border-radius: 3px">
      <button (click)="createProject(projectName)" type="submit" class="btn btn-sm btn-primary inline ml-1" [disabled]="!projectName" style="margin-bottom: 5px">Create</button>
    </div>

    <!--PROJECT LIST-->
    <ul class="list-group mb-3" [hidden]="!isAnyProjects()">
      <li class="list-group-item p-2" *ngFor="let p of projectList">
        <span class="small ml-3" (click)="getProjectTabs(p)">{{ p.projectName }}</span>
        <span class="pull-right mr-2">
          <input class="mr-3 pl-2" style="width: 70px" placeholder="key" title="type key to delete" [(ngModel)]="p.deleteKey"/>
          <a (click)="deleteProject(p, p.deleteKey)"><i style="color:grey" class="fa fa-trash-o" aria-hidden="true" title="Delete"></i></a>
        </span>
      </li>
    </ul>
    
    <!--ACTIVE TAB LIST-->
    <h6 [hidden]="!isAnySavedTabs()" style="color: gray">
      <i class="fa fa-external-link-square pull-right mr-2" (click)="openProjectTabs(true, null)" [hidden]="!isAnySavedTabs()"></i>
      Tabs for {{ selectedProject.projectName }}
    </h6>
    <ul class="list-group mb-3" [hidden]="!isAnySavedTabs()">
      <li class="list-group-item p-2" *ngFor="let tab of savedTabs">
        <a>
          <img [src]="tab.favIconUrl" height="23" width="23" />
          <span class="small ml-3 d-inline-block text-truncate" style="width: 230px" title="{{ tab.title }}" (click)="openProjectTabs(false, tab)">{{ tab.title }}</span>
        </a>
        <span class="pull-right mr-2"><a (click)="deleteTab(tab, selectedProject)"><i style="color:grey" class="fa fa-trash-o" aria-hidden="true" title="Delete"></i></a></span>
      </li>
    </ul>

    <!--
    <div class=" mb-3" [hidden]="true" style="text-align: center;">
      <button type="button" class="btn btn-info btn-sm mr-2" (click)="onClickRefresh()" disabled>Refresh</button>
    </div>
    -->
  </div>
</div>

<router-outlet></router-outlet>


